/*Common Footer*/
.footer-wrapper{
    background-color: rgba(249, 246, 239, 0.8);
    font-family: "Ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    margin-top: -4px;
    border-top: 4px solid white; 
    box-shadow: 0px -10px 2px 2px #000000; 
}

.footer-wrapper > .footer-logo img{
    width: 180px;
    height: 100px;
    padding-top:30px;
    
}

.footer-wrapper > .footer-phone-hours{
    margin-top: 20px;
    color:black;
}

.footer-wrapper > .footer-phone-hours span{
    margin-right:10px;
    margin-left: 10px;
    font-size: 1em;
    letter-spacing: 2px;
}

.footer-wrapper > .footer-phone-hours > .hours {
    font-size: 0.8em;
    color: black;
    text-transform: uppercase;
}

.footer-wrapper > .links-wrapper{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    width:400px;
}

.footer-wrapper > .social-media-icons-wrapper{
    margin-top: 10px;
    margin-bottom: 30px;
    width:400px;
    display: flex;
    justify-content:space-evenly;
}

.footer-wrapper > .social-media-icons-wrapper a{
    font-size: 1.5em;
    transition: 0.5s;
}

.footer-wrapper > .social-media-icons-wrapper a:hover{
    font-size: 2.0rem;
}

.copyright-wrapper{
    text-align: center;
    margin-bottom: 40px;
    font-size:0.7em;
    color:#black;
}